.move-preview {
  padding: 10px;
  background-color: #292929;
    border-bottom: 2px solid lighten(gray, 20%);
    pre{
      word-wrap: break-word;
      white-space:pre-line;
      width: 40ch;
    }
  
}
