.homepage {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  .bitcoin-balance {
    display: flex;
    align-items: center;
    gap: 3px;
    .bitcoin-amount{
        color:#bea0a2;
    }
    .bitcoin-img {
      width: 25px;
    }
  }
  .move-list-container {
  display: flex;
  flex-direction: column;
    h2{
      margin-bottom: 10px;
    }
  }
}
