.contact-edit{
   display: flex;
   flex-direction: column;
 .contact-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
 }
 .btn-delete{
    align-self: center;
 }
}