<section class="contact-edit">
<!--     
    <form #form="ngForm" (ngSubmit)="onSaveContact(form)">
        <h2 class="title">{{actionTitle}}</h2>
        <section class="contact-info">
            <input type="text" required name="name" placeholder="contact name" #name="ngModel" [ngModel]="contact.name" />
            <h4 *ngIf="name.invalid">Contact name is required!</h4>
            <input type="text" required name="email" placeholder="contact email" #email="ngModel" [ngModel]="contact.email"/>
            <h4 *ngIf="email.invalid">Contact email is required!</h4>
            <input type="text" required name="phone" placeholder="contact phone" #phone="ngModel" [ngModel]="contact.phone" />
            <h4 *ngIf="phone.invalid">Contact phone is required!</h4>
        </section>
        <button class="btn">Save</button>
    </form>
    <button *ngIf="contact._id" class="btn btn-delete" (click)="onDeleteContact()" > Delete Contact</button>
    <a class="btn-back"  [routerLink]="returnUrl"></a> -->

</section>